<div class="bg-login-main">
    <div class="bg-login">
      <h4 style="padding-top: 50px;">Login</h4>
      <div class="form-all-login">
        <div>
          <form class="form-login" >
            <input class="input-login" type="text" id="username" name="username" placeholder="Username" [(ngModel)]="usernameFormInput"  >
            <button (click)="onSubmittest()" class="bt-login"  style="width: 100%; height: 50px; border-radius: 50px;">Login</button>
            <div (click)="onLinkCreateProfile()"  style="width: 100%; font-weight: 600;  text-align: center;">Sign in</div>
          </form>
        </div>
      </div>
    </div>
  </div>